.skin-card {
    background-color: var(--bg-glow);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 10px;
    transition: transform 0.3s;
    cursor: pointer;
}

.skin-card:hover {
    transform: scale(1.05);
}

.skin-name {
    font-weight: bold;
}

.float-value {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: gray;
}

.details-button {
    background-color: yellow;
    border: 2px solid yellow;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}

.details-button:hover {
    background-color: black;
    color: yellow;
    box-shadow: 0 0 8px yellow;
}
